/BTTuan6/nbproject/private/
/BTTuan6/build/
/BTTuan6/dist/
/BaiTapNop1/nbproject/private/
/BaiTapNop1/build/
/BTTuan7/nbproject/private/
/BTTuan7/build/
/BaiTapNop2/nbproject/private/
/BaiTapNop2/build/
